# User-specific CLion (IDEA) settings:
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf/
.idea/**/workspace.xml
.idea/**/vcs.xml

# build directories:
build/
build.*/
cmake-build-*/

# Mac OS Finder configuration:
.DS_Store

# backups:
*~
